{
    margin:0;
    padding: 0;
}
nav{
    background-color: cornflowerblue;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 65px;
}
ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    width: 400px;
}
a{
    text-decoration: none;
    color:cornsilk;
    font-size: 25px;
    padding: 10px 5px;
}
a:hover{
    background:gray;
    cursor:pointer;
}
#name{
    color:cornsilk;
    font-size: 40px;
    padding: 20px 10px;
    text-align:left;
    font-family: cursive;
}
li{
    padding: 20px 10px;
}

@media screen and (max-width:620px){
    nav,ul{
        flex-direction: column;
        align-items: center;
    }
}
section{
    font-family: Arial, Helvetica, sans-serif;
    width: 75vw;
    margin:30px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
figure{
    width: 296px;
    border:1px solid #ccc;
    margin:20px;
    text-align:center;
    box-shadow: 0px 0px 3px rgb(104 ,104 ,104);
    transition:100ms;
}
figure:hover{
    transform: scale(1.01);
    cursor:pointer;
}
figure img{
    height: 200px;
    width: 100%;
}
figcaption button{
    padding: 10px 20px;
    margin:10px;
    font-size: 16px;
    border-radius: 5px;
    background: none;

}
figcaption button:hover{
    background:grey;
    color:white;
    cursor:pointer;
}
figcaption p{
    font-weight: 300;
}
#caption{
    text-align:center;
}
.slideshow{
    width: 60vw;
    height: 450px;
    margin:50px auto;
    overflow: hidden;
}
.slide{
    float:left;
}

.slide img{
    height: 450px;
    width:60vw;
}
.slide-images{
    width: calc(70vw*6);
    animation: 18s ease infinite slider;
}
@keyframes slider{
    16%{
        margin-left: 0px;
    }
    32%{
        margin-left: calc(-60vw*1);
    }
    48%{
        margin-left: calc(-60vw*2);
    }
    64%{
        margin-left: calc(-60vw*3);
    }
    80%{
        margin-left: calc(-60vw*4);
    }
}